.navdiv{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    flex-wrap: wrap;

}

.navp1{
    padding-right: 100px;
}

.maindiv1{
    background-image: url(/img/fondoGymYFoto.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}
.mainh1{
    color: white;
    text-transform: uppercase;
    
    padding-top: 50px;
    padding-left: 50px;
}

.maindiv2{
    color: white;
    size: 40px;
    margin-left: 50px;
}

#registros{
    background-color: #2e292687;
    color: white ;
    margin-left: 50px;
    margin-right: 20%;
}
#tabla{
    background-color: #2e292687;
    color: white;
    margin-left: 50px;
    margin-right: 20%;
    margin-top: 20px;
}
.ttitulo{
    font-size: 20px;
}