.navdiv {
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    flex-wrap: wrap;
}

.navp1 {
    padding-right: 100px;
}

.maindiv1 {
    background-image: url(/img/fondoGymYFoto.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.maindiv2 {
    color: white;
    size: 40px;
    margin-left: 50px;
}

.marco {
    background-color: #2e29263a;
    color: white;
    margin-left: 50px;
    margin-right: 60%;
}

#mensajito {
    color: white;
    font-weight: 800;
    padding-top: 20px;
    margin-left: 70px;
}

#actualizar{
    display: none;
}

article{
    display: flex;    
}

article p{
    margin: 0 20px;
}